.ui-menu { 
    /*    overflow: hidden;*/
    list-style: none;
    margin: 0px auto;
    display: table;
    z-index: 1000;
}

.ui-menu .ui-menu {
    overflow: visible !important;
}

.ui-menu > li { 
    position: relative;
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu ul li {
    position: relative;
    display:block;
    /*    float:none;*/
}

.ui-menu ul li ul {
    /*    left:120px !important;*/
    /*    width:100%;*/
}

.ui-menu ul li ul li {
    position: relative;
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu ul li ul li a {
    position: relative;
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu > li {
    position: relative;
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu > li > a { 
    position: relative;
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu .ui-menu-icon { 
    /*    margin-top: 0.3em !important;*/
    float: none;
    left: auto;
    position: absolute;
    right: 0;
    top: 4px;
}

.ui-menu  a {padding-right: 1em !important;position:static!important;}

.ui-menu .ui-menu .ui-menu li { 
    position: relative;
    float: left;
    display: block;
    width: auto !important;
}

main_image {
    height: 340px;
    width: 300px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px;
    /*    top: 50%;
        left: 50%;
        margin-top: -140px;
        margin-left: -150px;
        position: fixed;*/
}

h1 {
    font-family: cursive, Arial, sans-serif;
    color: blue;
    text-align: center;
}

body > a {
    font-family: cursive, Arial, sans-serif;
}

body {
    background: #FFFFFF;
}

a:link {
    text-decoration: none;
    color:#336699;
}    /* unvisited link */

a:visited {
    color:#0000FF;
} /* visited link */

a:hover {
    color:#FF0000;
    font-weight: bold;
}   /* mouse over link */

a:active {
    color:#669966;
}  /* selected link */

#list {
    clear: both;
    width: 800px;
    margin: auto;
}

#brown {
    color: brown;
}
